.dynamic {
    padding: 1em;
    background-color: #5bc9e3;
    border-radius: 0.5em;
}
.frame {
    border: 2px dashed rgb(33, 112, 131);
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
}
button {
    padding: 0.4em 1.2em;
    border-radius: 0.3em;
    background-color: transparent;
    transition: background-color 0.4s;
    cursor: pointer;
}
button.selected/*, button:hover*/ {
    background-color: rgb(39, 96, 170);
    color: rgb(203, 247, 248);
}
